# importing pandas

In [1]:
import pandas as pd

# opening a local csv file

In [2]:
df = pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv')

# Opening a csv file from an URL

In [ ]:
import requests
from io import StringIO
url = ""
headers ={"User-Agent" : "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv : 66.0)Gecko/201001 Firefox/66.0 "}
req = requests.get(url,headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

# sep parameter

In [ ]:
df = pd.read_csv('''address''',sep = '''delimeter''',name=['''column names declaration'''])

# index_col parameter

In [20]:
 pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',index_col = 'Unnamed: 0')

    cgpa     iq  placement
0    6.8  123.0          1
1    5.9  106.0          0
2    5.3  121.0          0
3    7.4  132.0          1
4    5.8  142.0          0
..   ...    ...        ...
95   4.3  200.0          0
96   4.4   42.0          0
97   6.7  182.0          1
98   6.3  103.0          1
99   6.2  113.0          1

[100 rows x 3 columns]

# Header parameter

In [26]:
pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',header= 1)

    Unnamed: 0  cgpa     iq  placement
0            0   6.8  123.0          1
1            1   5.9  106.0          0
2            2   5.3  121.0          0
3            3   7.4  132.0          1
4            4   5.8  142.0          0
..         ...   ...    ...        ...
95          95   4.3  200.0          0
96          96   4.4   42.0          0
97          97   6.7  182.0          1
98          98   6.3  103.0          1
99          99   6.2  113.0          1

[100 rows x 4 columns]

# use_cols parameter

In [29]:
pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',usecols=['placement'])

    placement
0           1
1           0
2           0
3           1
4           0
..        ...
95          0
96          0
97          1
98          1
99          1

[100 rows x 1 columns]

# squeeze parameters

In [32]:
pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',usecols=['placement'],squeeze = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_3480\880585429.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',usecols=['placement'],squeeze = True)

0     1
1     0
2     0
3     1
4     0
     ..
95    0
96    0
97    1
98    1
99    1
Name: placement, Length: 100, dtype: int64

# skiprows/nrows Parameter

In [36]:
pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',skiprows=[1,5,2,4,9])
#nrows use for getting starting n number of rows

    Unnamed: 0  cgpa     iq  placement
0            2   5.3  121.0          0
1            5   7.1   48.0          1
2            6   5.7  143.0          0
3            7   5.0   63.0          0
4            9   5.1   66.0          0
..         ...   ...    ...        ...
90          95   4.3  200.0          0
91          96   4.4   42.0          0
92          97   6.7  182.0          1
93          98   6.3  103.0          1
94          99   6.2  113.0          1

[95 rows x 4 columns]

# Encoding parameter

In [37]:
pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',encoding='latin-1')

    Unnamed: 0  cgpa     iq  placement
0            0   6.8  123.0          1
1            1   5.9  106.0          0
2            2   5.3  121.0          0
3            3   7.4  132.0          1
4            4   5.8  142.0          0
..         ...   ...    ...        ...
95          95   4.3  200.0          0
96          96   4.4   42.0          0
97          97   6.7  182.0          1
98          98   6.3  103.0          1
99          99   6.2  113.0          1

[100 rows x 4 columns]

# skip bad lines

In [40]:
pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',sep=',')

    Unnamed: 0  cgpa     iq  placement
0            0   6.8  123.0          1
1            1   5.9  106.0          0
2            2   5.3  121.0          0
3            3   7.4  132.0          1
4            4   5.8  142.0          0
..         ...   ...    ...        ...
95          95   4.3  200.0          0
96          96   4.4   42.0          0
97          97   6.7  182.0          1
98          98   6.3  103.0          1
99          99   6.2  113.0          1

[100 rows x 4 columns]

# dtypes parameter

In [44]:
pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',dtype={'placement':int}).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  100 non-null    int64
 1   cgpa        100 non-null    float64
 2   iq          100 non-null    float64
 3   placement   100 non-null    int32
dtypes: float64(2), int32(1), int64(1)
memory usage: 2.9 KB

# handling Dates

In [ ]:
pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',parse_dates=['column name'])

# convertors

In [ ]:
pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',converters={'column name':convertor function})

# na_values parameter

In [ ]:
pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',na_values=['Male'])

# loading a huge dataset in chunks

In [49]:
df = pd.read_csv('C:\\Users\\hp\\Desktop\\data\\placement.csv',chunksize=15)

In [51]:
for c in df:
    print(c.shape)

(15, 4)
(15, 4)
(15, 4)
(15, 4)
(15, 4)
(15, 4)
(10, 4)