# Encoding Categorical Data

### 1. Ordinal Encoder
### 2. Label Encoder
### 3. One-Hot Encoder

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('C:\\Users\\hp\\Desktop\\data\\customer.csv')

In [3]:
df.sample(5)

    age  gender   review education purchased
18   19    Male     Good    School        No
6    18    Male     Good    School        No
36   34  Female     Good        UG       Yes
44   77  Female  Average        UG        No
20   57  Female  Average    School       Yes

In [4]:
df = df.iloc[:,2:]

In [37]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [23]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.iloc[:,0:2],df.iloc[:,-1],test_size=0.2)

In [24]:
x_train.head()

   review education
12   Poor    School
27   Poor        PG
3    Good        PG
7    Poor    School
43   Poor        PG

## Ordinal Encoder
#### converting categorical data into numeric values that preserve their inherent ordering.

In [25]:
from sklearn.preprocessing import OrdinalEncoder

In [26]:
oe = OrdinalEncoder(categories=[['Poor','Average','Good'],['School','UG','PG']])

In [27]:
oe.fit(x_train)

OrdinalEncoder(categories=[['Poor', 'Average', 'Good'], ['School', 'UG', 'PG']])

In [28]:
x_train = oe.transform(x_train)
x_test = oe.transform(x_test)

In [29]:
x_train

array([[0., 0.],
       [0., 2.],
       [2., 2.],
       [0., 0.],
       [0., 2.],
       [1., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 2.],
       [2., 0.],
       [0., 2.],
       [2., 0.],
       [1., 2.],
       [2., 2.],
       [2., 1.],
       [0., 2.],
       [0., 2.],
       [2., 1.],
       [0., 0.],
       [2., 1.],
       [2., 1.],
       [1., 1.],
       [1., 2.],
       [2., 1.],
       [0., 0.],
       [0., 1.],
       [2., 2.],
       [1., 1.],
       [1., 0.],
       [1., 0.],
       [2., 0.],
       [2., 2.],
       [0., 2.],
       [0., 2.],
       [2., 0.],
       [2., 0.],
       [1., 1.],
       [1., 0.],
       [2., 2.]])

## Label Encoder
### This transformer should be used to encode target values, i.e. y, and not the input X.  Encode target labels with value between 0 and n_classe-1.

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
le = LabelEncoder()

In [32]:
le.fit(y_train)

LabelEncoder()

In [33]:
y_train = le.transform(y_train)
y_test = le.transform(y_test)

In [34]:
y_train

array([0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1])

In [38]:
le.classes_

array(['No', 'Yes'], dtype=object)